<!-- <html> -->
	<!-- <body> -->
		<div class = "home">
			h<br>g<br>h<br>h<br>g<br>j<br>g<br>h<br>g<br>h<br>h<br>g<br>j<br>g<br>h<br>g<br>h<br>h<br>g<br>j<br>g<br>h<br>g<br>h<br>h<br>g<br>j<br>g<br>h<br>g<br>h<br>h<br>g<br>j<br>g<br>h<br>g<br>h<br>h<br>g

		</div>
	    
		<div class="section-title">
			<div class ="centered">
				<h1>About IEEE</h1>
			</div>
			IEEE is a leading authority on areas ranging from aerospace systems, computers and telecommunications to biomedical engineering, electric power and consumer electronics
			As the world's largest technical professional organization, IEEE offers a number of ways to get involved with technical and local communities. These communities are active participants in research and authorship, conferences, and important conversations about today's most relevant technical topics locally and globally
		</div>
		
		<div class="section-member">
			<div class="member">
				<h1>About Membership</h1>
			</div>
			IEEE membership offers access to technical innovation, cutting-edge information, networking opportunities, and exclusive member benefits. Members support IEEE's mission to advance technology for humanity and the profession, while memberships build a platform to introduce careers in technology to students around the world. IEEE and its members inspire a global community through its highly cited publications, conferences, technology standards, and professional and educational activities.
		</div>
	
	<!-- </body> -->
<!-- </html> -->

