
<div class = "main">
    
    <div class = "nav">
        <div class = "leftnav">
            <div class = "logo">
                
            </div>

        </div>
        <div class = "rightnav" >
            <div class = "navtext">
                <a href="/home" class="chiu">Home</a>
            </div>
            <div class = "navtext">
                <a href="/aboutus" class="chiu">About Us</a>
            </div>
            <div class = "navtext">
                <a href="/team" class="chiu">Team</a>
            </div>

            <div class = "navtext">
                <a href="/gallery"class="chiu">Gallery</a>
            </div>
            <div class = "navtext">
                <a href="/events" class="chiu">Events</a>
            </div>
            <div class = "navtext">
                <a href="/registration" class="chiu">Registration</a>
            </div>
            <div class = "navtext">
                <a href="/contactus" class="chiu">Contact Us</a>
            </div>

        </div>
    </div>
    <router-outlet></router-outlet>
</div>



