
<div class = "main">
    <div class = "nav">
        <div class = "leftnav">
            <div class = "logo">
                
            </div>

        </div>
        <div class = "rightnav">
            <div class = "navtext">
                Home
            </div>
            <div class = "navtext">
                <a href="/aboutus">About Us</a>
            </div>
            <div class = "navtext">
                <a href="/team">Team</a>
            </div>

            <div class = "navtext">
                <a href="/gallery">Gallery</a>
            </div>
            <div class = "navtext">
                <a href="/events">Events</a>
            </div>
            <div class = "navtext">
                <a href="/registration">Registration</a>
            </div>
            <div class = "navtext">
                <a href="/contactus">Contact Us</a>
            </div>

        </div>
    </div>
</div>



<router-outlet></router-outlet>