// .body
// {
//     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
//     font-size: medium;
//     font-weight: 300;
//     list-style-position: outside;
    
   

// }
.main
{
    width: 100vw;
    

}
// .centered 
// {
//     position: absolute;
//     top: 30%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     text-align: center;
//     color: blue;
    
// }
.section-title
{
    // border-bottom: 2px solid black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 15px;
    margin-bottom: 50px;
    // margin-left: 5%;
    margin-right: 5%;
    background-color: white;
    width: 100%;
    margin-bottom: 0%;
    
}
.section-bombay
{
    // border-bottom: 2px solid black;
    // border-top: 2px solid black;
    // font-size: 23px;
    font-family: 'Slabo 27px', serif;
    
    height: 40vh;
    // align-self: left;
    width: 100vw;
    background-color: white;
    // text-align: justify;
    // background-image: url("../../assets/images/output-onlinepngtools\ \(3\).png");
    display: flex;
    // flex-direction: column;
    // justify-content: center;
    // background-size: 100% 100%;
    // background-position: right;
    margin-top: 0%;
    
    

}
.xyz
{
    background-color: lightblue;
    background-image: url("../../assets/images/Capture.PNG");
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    // text-align: right;
    // font-size: 500%;
    z-index: -1;
    overflow-y: hidden;
}
.abc
{
    width: 100%;
    height: 70vh;
    font-size: 200%;
    color: white;
}
.back
{
    width: 90%;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;

}
.double-line
{
    width: 100%;
    height: 3px;
    border-top: solid darkblue ;
    border-bottom: solid darkblue  ;

    
    
}
.what
{
    color: blue;
    font-family: sans-serif;
    text-align: center;
}
.ground
{
    flex-basis: 40%;
    // text-align: justify;
    font-family:  'Slabo 27px', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.text
{
    font-size: 150%;
    align-self: center;
    height: 80%;
    width: 90%;
}
.image
{
    background-image: url("../../assets/images/bombay.png");
    background-size: 100% 100%;
    width: 80%;
    height: 80%;
    // margin: 10% 10%;
    align-self: center;
}
.wrapper
{
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.saaho
{
    background-image: url("../../assets/images/pastel.png");
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    color: transparent;
    height: 40vw;
    width: 100vw;
    margin-top: 0%;
    
}
