<div class="main">

    <div class="abc">

    </div>
   <div class="xyz">

    </div>

 <div class="ieeeday">
       <div class="ball">
           <div class="img">

           </div>
       </div>
       <div class="sky">
           <div class="text">
               <h1>IEEE DAY 2019</h1>
               <p>IEEE Day is celebrating the first time in history when engineers worldwide and IEEE members gathered to share their technical ideas in 1884. Worldwide celebrations demonstrate the ways thousands of IEEE members in local communities join together to collaborate on ideas that leverage technology for a better tomorrow.</p>
           </div>
       </div>
       
   </div>
   <div class="workshop">
       <div class="bat">
           <div class="ima">

           </div>
       </div>
       <div class="trees">
                <div class="txt">
                    <h1>INTERNET OF THINGS</h1>
                    <p>
                        IEEE UMIT sucessfully conducted a workshop on Internet of Things in collaboration with ROBOTRONiX Engineering Tech Pvt. Ltd.  for the engineering students. 
                    </p>
                </div>
        </div>
   </div>

</div>